.resultBox, .hoverBox {
  height: 200px;
  width: 200px;
  background-color: blue;
  margin: 0;
}

.columns {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-gap: 30px;
}

.colorOutput {
  display: grid;
  grid-template-columns: 200px auto;
  grid-gap: 10px;
  margin-top: 15px;
}

.history {
  margin-top: 140px;
}

.historyStyling {
  height: 70px;
  width: 70px;
  margin: 5px;
  display: inline-flex;
}

.hidden {
  visibility: hidden;
}

.copyInput {
  text-align: center;
}

.alert-box-copy {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  display: none;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;  
}


canvas {
  border: 2px solid;
}

body {
  background-color: pink;
  font-family: sans-serif;
}
